body{
	position:relative;
	background-color:white;
	margin:11px;
	font-family:'Ubuntu','Noto Sans Japanese',sans-serif;
}
main{
	position:relative;
}
main h1{
	margin:20px 0px 0px;
	padding:0px;
	width:100%;
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:ridge 1px silver;
	font-size:23px;
	font-weight:500;
}
main p{
	margin:10px;
	border:0px;
	padding:0px;
	font-size:17px;
	line-height:23px;
	text-indent:17px;
	font-weight:300;
}
main a{
	border:0px;
	padding:0px 0px 1px;
}
main a{
	color:black;
	text-decoration:none;
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:dashed 1px silver;
}

main a:hover{
	border-bottom:solid 1px black;
	font-weight:500!important;
}

footer{
	position:relative;
	margin:31px 0px 0px;
	padding:20px;
	border-bottom:none;
	border-left:none;
	border-right:none;
	border-top:groove 2px gray;
	text-align:center;
	font-size:17px;
}
header{
	position:relative;
	border:none;
	text-align:center;
	font-size:29px;
}
header a{
	display: block;
	text-decoration: none;
	font-size:29px;
	padding:10px;
	margin:19px;
	font-weight:700;
	border:solid 2px black;
	color: black;
}

ul{
	margin:0px;
	padding:0px;
	list-style-type:none;
}

li{
	margin:10px 27px;
	padding:0px;
	font-size:17px;
	line-height:23px;
	text-indent:5px;
	border-top:none;
	border-bottom:none;
	border-right:none;
	border-left:solid 5px silver;
	font-weight:300;
}